In [3]:
import pandas as pd

data =pd.read_csv("InfosysTestData.csv",sep=";")

In [4]:
data.head()

,source_id,first_name,last_name,email,employment_status,is_active,job_title,job_role,department_name,sub_department_name,...,job_start_date,job_end_date,company_code,has_managerial_role,travel_country,travel_state,travel_city,trip_start_date,trip_end_date,is_integrated
0,218979,Alvin,Myers,to@mawibvu.bm,X,False,gusipcad,DIR,bicge,muk,...,21151018,21041120,wyhp,True,AL,NM,Zepjineh,20640222,20750327,False
1,537717,Ola,Owen,zefawta@kibhe.bh,E,True,cajis,NOBA,sun,ahnaza,...,20421012,20980320,IONX,True,KI,VA,Unwotgez,20521112,20740810,False
2,891825,Timothy,Fleming,wucpi@mahalif.aw,X,True,he,6,ic,hijditkol,...,20550124,21111225,wQYd,True,GL,NM,Jemkidat,20790123,20371118,True
3,828835,Tony,Chambers,pitwub@zacfaaga.jm,X,True,situge,2,fom,bub,...,20580502,20950908,saFs,False,AL,IA,Tebennon,20681129,21060807,True
4,950069,Alex,Goodwin,nazte@casna.mc,E,False,jel,4,haef,wafo,...,21120826,20610102,hjkJ,False,CZ,OK,Amikada,20971231,20491006,True